.main-wrapper {
	background-color: rgba(240, 240, 240, 1);
	height: calc(var(--vh, 1vh) * 100);
  	max-height: calc(var(--vh, 1vh) * 100);
  	display: grid;
  	grid-template-columns: 75px auto 25%;
}

.right-sidebar {
	background-color: rgba(212, 212, 212, 1);
	display: grid; 
	justify-items: center; 
	padding-top: 15px;
}
@media screen and (max-width: 1000px) {
	.main-wrapper {
	  	grid-template-columns: auto;
	  	grid-template-rows: 50px 2fr 3fr;
	}
	.right-sidebar {
		justify-items: start;
		padding-top: 5px;
		padding-left: 10px;
	}
}