.pictures-description-wrapper {
	display: grid;
	padding-top: 5px;
	grid-template-columns: auto min-content;
	grid-gap: 5px;
	white-space: nowrap;
}
.cod-wrapper {
	background-color: rgba(30, 50, 96, 1); 
	width: min-content;
	height: min-content; 
	border-radius: 10px;
	color: rgba(255, 255, 255, 1);
	padding: 4px;
	padding-right: 10px;
	padding-left: 10px;
	display: grid;
	align-items: center;
}
.disp-wrapper {
	border-radius: 10px;
	width: min-content;
	height: min-content;
	padding: 4px;
	padding-right: 10px;
	padding-left: 10px;
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
}